body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(34, 104, 161);
}

.header {
    display: table;
    background-color: #ffffff;
    width: 400px;
    height: 15px;
    border-radius: 5px;
    margin: 0 auto;
}

.header-table ul {
    padding: 0;
    list-style-type: none;
    margin: 15px auto;
    text-align: center;
}

.header-table ul li {
    display: inline;
}

.header-table ul li a {
    text-decoration: none;
	padding: 10px;
	color: rgb(62, 123, 255);
    background-color: #ffffff;
    border-radius: 5px;
}

.header-table ul li a:hover {
    color: rgb(62, 123, 255);
    background-color: rgb(240, 240, 240);
}

#main {
    text-align: center;
    position: relative;
    padding-top: 110px;
}

#main h1 {
    font-size: 90px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#main h2 {
    font-size: 33px;
    font-weight: 400;
    color: rgba(183, 221, 255, 0.7);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 22px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 16px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.button1 {
    background-color: rgb(34, 104, 161); 
    color: white; 
    border: 2px solid rgb(255, 255, 255);
    border-radius: 80px;
  }

  .button1:hover {
    background-color: white;
    color: rgb(62, 123, 255);
  }